<div class="platforms">
  <div class="top-section">
    <div class="row">
      <div class="col-xs-12">
        <h3>Platform Market Spreads</h3><small>(Shows matching markets)</small>
      </div>
    </div>
  </div>

  <div class="clearfix" style="clear: both;"> <hr> </div>

  {{platform-selector model=model onPlatformSelection=(action 'setSelectedPlatformIds')}}

  {{platform-spread-table platformIds=selectedPlatformIds}}
</div>
