<div class="row">
    <div class="col-sm-2">
    </div>

    <div class="col-sm-8">
      <div class="panel panel-default login-form">
        <div class="panel-heading">
          <h3 class="panel-title">Password Recovery</h3>
        </div>
        <div class="panel-body">
            {{#bs-form formLayout="horizontal" model=this action="recover"}}
              {{bs-form-element controlType="email" label="Email" placeholder="Please enter your email" property="email"}}
              <div class="pull-right">
                {{bs-button defaultText="Recover" type="primary" buttonType="submit"}}
              </div>
            {{/bs-form}}

        </div>
      </div>
    </div>

    <div class="col-sm-2">
    </div>
</div>
