<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <div class="market-table">
        {{models-table
          columnsAreUpdateable=true
          data=tableData
          columns=columns
          pageSize=pageSize
          multipleColumnsSorting=false
          filteringIgnoreCase=true
          showTableFooter=false
          useNumericPagination=false
          useFilteringByColumns=false
          showPageSize=showPageSize
          customMessages=customMessages
        }}
      </div>
    </div>
  </div>
</div>
