<div class="bottom-bar container-fuild {{addClass}}">
    <div class="row">
        <div class="col-xs-12">
            <span>Built in Noosa <span style="color: red;">{{fa-icon "heart"}}</span></span>
            <span class="pull-right">by Josh</span>
        </div>
    </div>
</div>
