<div class="market-table table-responsive">
  {{models-table
    columnsAreUpdateable=true
    data=model.markets
    columns=tableColumns
    pageSize=pageSize
    multipleColumnsSorting=false
    filteringIgnoreCase=true
    showTableFooter=false
    useNumericPagination=false
    useFilteringByColumns=false
    showPageSize=showPageSize
    customMessages=customMessages
  }}
</div>
