<div class="market-table historic-sparkline">
  <small><small>
    <div class="top-left grey">min: {{min}}</div>
    <div class="top-right grey">max: {{max}}</div>
  </small></small>
  {{spark-line options=options values=data}}
</div>
